<div>
	<div>
	<script type="text/javascript" src="/scripts/TableWizard.js"></script>
	<table class="table table-striped" id="sortableTable">
	  <thead>
		<tr>
		  <th scope="col"></th>
		  <th scope="col">Type</th>
		  <th scope="col" style="cursor: pointer;" onclick="sortTableDate(2)">Date</th>
		  <th scope="col">Location</th>
		</tr>
	  </thead>
	  <tbody>
	<% if(results.events){ %>
		<% for(var i=0; i<results.events.length; i++) { %>
			 <tr>
				<td style="<%= results.events[i].cancelled ? 'color: orange;': ''%>"><%= results.events[i].cancelled ? results.events[i].name + " (cancelled)" : results.events[i].name %></td>
				<td><%= results.events[i].type %></td>
				<td><%= results.events[i].eventdate %></td>
				<td><%= results.events[i].location != null ? results.events[i].location.name : '' %></td>						
			 </tr>
		<% } %>
	<% } %>
		</tbody>
	</table>

</div>
</div>