<link rel="stylesheet" type="text/css" href="/styles/editform.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<div>
<div class="editFormContainer">
<form class="editForm" action="/management/editplayer" method="post">
	<input type="hidden" name="id" value="<%= results.id %>">
  <div class="form-group row">
    <label for="inputFirstName" class="col-2 col-form-label">First Name</label>
	<div class="col-10 editInput">
		<input type="text" class="form-control" id="inputFirstName"  name="firstname" placeholder="First Name" value="<%= results.firstname %>">
	</div>
  </div>
  <div class="form-group row">
    <label for="inputLastName" class="col-2 col-form-label">Last Name</label>
	<div class="col-10 editInput">
		<input type="text" class="form-control" id="inputLastName"  name="lastname" placeholder="Last Name" value="<%= results.lastname %>">
	</div>
  </div>
  <div class="form-group row">
	  <label for="inputNumber" class="col-2 col-form-label">Number</label>
	  <div class="col-10">
		<input class="form-control" type="number" value="<%= results.number %>" name="number"  id="inputNumber" style="width: 70px;">
	  </div>
  </div>
  <div class="form-group row" style="width: 200px;">
	  <label for="positions">Positions:</label>
	  <select class="form-control selectpicker" id="positions" name="positions" multiple>
		<option <%if (results.positions.includes('P')){ %> selected <% } %>>P</option>
		<option <%if (results.positions.includes('C')){ %> selected <% } %>>C</option>
		<option <%if (results.positions.includes('1B')){ %> selected <% } %>>1B</option>
		<option <%if (results.positions.includes('2B')){ %> selected <% } %>>2B</option>
		<option <%if (results.positions.includes('3B')){ %> selected <% } %>>3B</option>
		<option <%if (results.positions.includes('SS')){ %> selected <% } %>>SS</option>
		<option <%if (results.positions.includes('LF')){ %> selected <% } %>>LF</option>
		<option <%if (results.positions.includes('CF')){ %> selected <% } %>>CF</option>
		<option <%if (results.positions.includes('RF')){ %> selected <% } %>>RF</option>
		<option <%if (results.positions.includes('IF')){ %> selected <% } %>>IF</option>
		<option <%if (results.positions.includes('OF')){ %> selected <% } %>>OF</option>
		<option <%if (results.positions.includes('UT')){ %> selected <% } %>>UT</option>
	  </select>
  </div> 
  
  <div class="checkbox row">
	  <label><input type="checkbox" value="true" name="active" <% if (results.active) { %>checked <% } %>>Active</label>
	</div>
	
   <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
<div class="deleteContainer">
<form class="deleteButton" action="/management/deleteplayer" method="post">
	<input type="hidden" name="id" value="<%= results.id %>">
	<button type="submit" class="btn btn-primary">Delete</button>
</form>
</div>
</div>