<link rel="stylesheet" type="text/css" href="/styles/editform.css" />
<div>
<div class="editFormContainer">
<form class="editForm" action="/management/editheadline" method="post">
  <div class="form-group row">
	<input  type="hidden" name="id" value="<%= results.id %>">
  </div>
  <div class="form-group row" style="width: 500px;">
    <label for="title" class="col-2 col-form-label">Title</label>
	<div class="col-10 editInputLarge">
		<input type="text" class="form-control" id="title"  name="title" placeholder="Title" value="<%= results.title %>">
	</div>
  </div>
	
	<div class="form-group row">
		<label for="thumbnail" class="col-2 col-form-label">Thumbnail (100px x 100px)</label>
		<div class="col-10 editInputLarge">
			<input type="text" class="form-control" id="thumburl" name="thumbnailurl" placeholder="Thumbnail Url" value="<%= results.thumbnailurl %>">
		</div>
	</div>
			
	<div class="form-group row">
		<label for="artcleimage" class="col-2 col-form-label">Article Image</label>
		<div class="col-10 editInputLarge">
			<input type="text" class="form-control" id="artcleimage" name="articleimageurl" placeholder="Article Image Url" value="<%= results.articleimageurl %>">
		</div>
	</div>
  
  <div class="form-group row">
	  <label for="body">Body</label>
	  <textarea class="form-control" rows="5" id="body" name="body"><%= results.body %></textarea>
	</div>
	
   <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
<div class="deleteContainer">
<form class="deleteButton" action="/management/deleteheadline" method="post">
	<input type="hidden" name="id" value="<%= results.id %>">
	<button type="submit" class="btn btn-primary">Delete</button>
</form>
</div>
</div>