<div>

<table class="table table-striped">
  <thead>
    <tr>		
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
	  <th scope="col">Admin</th>
	  <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
<% if(results){ %>
	<% for(var i=0; i<results.length; i++) { %>
		 <tr>			
			<td><%= results[i].firstname %></td>
			<td><%= results[i].lastname %></td>
			<td><%= results[i].email %></td>
			<td><%= results[i].admin %></td>
			<td scope="row">
				<form style="padding-left: 40px; width: 300px;" action="/management/restoreaccount" method="post">
					<input type="hidden" name="id" value="<%= results[i].id %>">
					<button type="submit" class="btn btn-primary">RESTORE</button>
				</form>
			</td>
		 </tr>
	<% } %>
<% } %>
	</tbody>
</table>


</div>